
:root{
    --bg-color: black;
    --font-color: #C5C5C5;
}


* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto','Noto Sans KR';
}
ul {
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
}

#header {
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
}

#header .inner {
    width: 70%;
    margin: 0 auto;
}

/* #header .logo{
    margin-top: 10px;
} */
#header .gnb {
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 0 20px;
}

#header .gnb img{
    width: 180px;
}

#header .main{
    width: 110px;
    text-align: center;
}

#header .main a{
    display: block;
    transition: all 0.7s;
}

#header .main>a:hover{
    -webkit-box-reflect: below -5px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

#header .main a:hover{
    color: #FFD800;
}

#header .gnb_menu {
    width: 70%;
    white-space: nowrap;
    display: flex;

    justify-content: space-between;
    margin-top: 25px;
}

#header .gnb_menu li {
    padding: 10px 15px;
}


#header .gnb_icon {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}


#header .gnb_icon li {
    padding: 5px 5px;
    transition: all 0.5s ease-in-out;
}

#header .gnb_icon li:hover{
    transform: rotateY(360deg);
    color: #FFD800;
}


.gnb .sub { 
	height:200px;

}



#header .gnb .sub li:first-child {
    padding-top: 40px;
}

#header .gnb .sub li { 
	height:30px; 
    padding: 10px 0;
}

.gnb .sub li a {
    font-weight: 300;
    font-size: 14px;
}


.material-symbols-outlined.menu_icon{
    position: absolute;
    right: 10px;
    top: 15px;
    font-size: 30px;
    color: white;
    display: none;
}

#visual {
    width: 100%;
    height: 100vh;
    background: url("../image/visual.jpg");
    background-size: cover;
    position: relative;
}

#visual::before {
    content: '';
    width: 100%;
    height: 10%;
    background: linear-gradient(to top, var(--bg-color),rgba(0, 0, 0, 0));
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
}

#visual .typo {
    position: absolute;
    left: 15%;
    top: 100px;
    color: white;
}

#visual .visual_logo {
    display: flex;
}
#visual .logo1 {
    margin: 10px 20px 0 0;
    width: 81px;
    height: 125px;
    border: 20px solid rgb(251, 255, 0);
    box-shadow: 5px 4px 20px rgba(0, 0, 0, 0.25);
}
#visual .logo2 {
    font-size: 5rem;
    color: rgb(0, 0, 0);
    text-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 2px #757575;
}

#visual p {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 1px #757575;
    margin-top: 25px;
    line-height: 30px;
}

#visual .btn_box {
    position: absolute;
    left: 15%;
    bottom: 5%;
}

.contens1 {
    width: 100%;
	background-color: var(--bg-color);
    color: var(--font-color);
    padding: 100px 0;
}

.contens1 .inner {
    width: 65%;
    margin: 0 auto;
}

.inner h2 {
    color: var(--font-color);
    font-size: 3rem;
    text-align: center;
    margin: 50px 50px;
    -webkit-box-reflect: below -20px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.1));
    position: relative;
    display: inline-block;
}

.inner h2::after{
    content: '';
    width: 10px;
    height: 3rem;
    background-color: #FFD800;
    position: absolute;
    left: -15%;
    top: 2%;
}

.contens1 .contens1_box {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contens1 .contens1_box li {
    width: 49%;
    height: 300px;
    overflow: hidden;
}
.contens1 .contens1_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.contens1 .contens_img_opa{
    position: relative;
    opacity: 0;
    transition: all 0.7s ease-in-out;
}

.contens1 .contens_img_opa:hover:before{
    width: 5%;
}



.contens1 .contens1_box img:hover{
    filter: grayscale(0);

}

.contens1_box p{
    display: flex;
    flex-direction: column;
    margin: 50px;
    text-shadow: 0 0 1px white;
}

.contens1_box span{
    margin: 10px 0;
}

.contens1_box .contens1_t1{
    font-size: 0.8rem;
}
.contens1_box .contens1_t2{
    font-size: 2rem;
    font-weight: bold;
}



.contens2{
    width: 100%;
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0,0.6)),url(../image/bg1.jpg);
    background-size: cover;
    color: var(--font-color);
    padding: 100px 0;
}

.contens2 .inner{
    width: 65%;
    margin: 0 auto;
}
.contens2 .contens2_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.contens2 .contens2_box li{
    width: 48%;
    height: 200px;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 15px 5px 10px 5px;
    
}
.contens2_box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

.contens2 .contens_img_opa2::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
    width: 100%;
    height: 300px;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    border-radius: 15px;
}

.contens2 .contens_img_opa2:hover::before{
    width: 1%;
    height: 1px;
}


.contens2 .contens2_box img:hover{
    transform: scale(1.1);
}
.contens2_box p{
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: 0.7rem;
    text-shadow: 0 0 10px black;
}


.contens2_box span{
    font-size: 1.2rem;
    font-weight: bold;
}

.contens2 .contens2_2{
    width: 100%;

    background-color: black;
    margin: 50px auto 0 auto;
    position: relative;
}

.contens2_2 video{
    width: 100%;
    filter: grayscale(0.7);
}


.contens3{
    width: 100%;
	background-color: var(--bg-color);
    color: var(--font-color);
    padding: 20px 0;
}

.contens3 .inner{
    width: 65%;
    margin: 0 auto;
}

.contens3 .contens3_box li{
    width: 100%;
    height: 500px;
    margin: 20px 0;
    overflow: hidden;
    position: relative;
}


.contens3 .contens3_box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(0.9);
    transition: all 0.5s ease-in-out;
    border-radius: 15px 5px 10px 5px;
}

.contens3 .contens3_box img:hover{
    filter: grayscale(0);
    transform: scale(1.3);
}

.contens3_box span{
    font-size: 2rem;
    font-weight: bold;
}
.contens3_box p{
    position: absolute;
    left: 50px;
    bottom: 50px;
    font-size: 1rem;
    text-shadow: 0 0 10px black;
    line-height: 40px;
}

#footer {
    width: 100%;
	background-color: var(--bg-color);
    color: var(--font-color);
}

#footer .inner{
    width: 65%;
    margin: 0 auto;
}
#footer .footer_top{
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

#footer .footer_top ul li:nth-child(1){
    font-weight: bold;
}
#footer .footer_top ul li{
    padding: 3px 0;
    font-size: 12px;
}

#footer .footer_bottom {
    color: rgb(146, 146, 146);
    font-size: 12px;
    padding: 30px 0;
    margin: 0 auto;
    text-align: center;
}
#footer .sns{
    display: flex;
}
#footer .sns li{
    margin: 0 5px;
    width: 33%;

    
}
#footer .sns li:nth-child(1){
    margin-left: 0;
}
#footer .sns img{
    width: 20px;
}




@media screen and (max-width:896px) {

    #header {
        width: 100%;
        position: fixed;
        z-index: 1000;
        background-color: rgba(0, 0, 0, 0.8);
    }
    
    #header .inner {
        width: 100%;
        margin: 0 auto;
        background: url(../image/gnb_bg.png) top center no-repeat;
        background-size:cover;
        transition: all 0.5s;

    }
    #header .gnb {
        flex-direction: column;
        justify-content: space-between;
        padding: 0 10px;
    }
    
    #header .gnb img{
        width: 100px;
        margin-top: 5px;
    }
    
    #header .main{
        width: 110px;
        text-align: center;
    }
    
    #header .main a{
        display: block;
        transition: all 0.7s;
        color: var(--font-color);
    }
    
    
    #header .gnb_menu {
        flex-direction: column;
        justify-content: space-between;
        margin-top: 10px;
    }
    
    #header .gnb_menu li {
        padding: 10px 15px;
    }
    
    
    #header .gnb_icon {
        display: flex;
        justify-content: start;
        margin: 10px 0;
    }
    
    
    #header .gnb_icon li {
        padding: 5px 10px;
        transition: all 0.5s ease-in-out;
        color: var(--font-color);
        
    }
    
    #header .gnb_icon li:hover{
        transform: rotateY(360deg);
        color: #FFD800;
    }
    
    .gnb .sub { 
        display: none;
    }

    .gnb_menu .main>a{
        text-align: left;
        font-weight: bold;
    }
    
    
    
    #header .gnb .sub li:first-child {
        padding-top: 20px;

    }
    
    #header .gnb .sub li { 
        height:30px; 
        padding: 0;
        text-align: left;
    }
    
    .gnb .sub li a {

        font-weight: 300;
        height: 100%;
        font-size: 14px;
    }


    .material-symbols-outlined.menu_icon{
        display: block;
    }





    .inner h2 {
        margin: 0 30px 40px 30px;
        font-size: 2rem;
        text-align: center;

    }

    .inner h2::after{
        width: 5px;
        height: 2rem;
        left: -20px;
        top: 2%;
    }

    



    #visual {
        width: 100%;
        height: 80vh;
        background: url("../image/visual.jpg");
        background-size: cover;
        position: relative;
    }
    
    #visual .typo {
        position: absolute;
        left: 5%;
        top: 80px;
        color: white;
    }
    


    #visual .logo1 {
        display: none;
    }
    #visual .logo2 {
        font-size: 2rem;
        color: rgb(0, 0, 0);
        text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
        -webkit-text-stroke: 1px #757575;
        font-weight: bold;
    }
    
    #visual p {
        font-size: 0.8rem;
        color: rgb(0, 0, 0);
        text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
        margin-top: 20px;
        line-height: 16px;
    }

    .contens1 {
        width: 100%;
        background-color: var(--bg-color);
        color: var(--font-color);
        padding-bottom: 10px;
    }
    
    .contens1 .inner {
        width: 100%;
        margin: 0 auto;
    }
    

    
    .contens1 .contens1_box {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .contens1 .contens1_box li {
        width: 49%;
        height: 100%;
        overflow: hidden;
    }
    .contens1 .contens1_box img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s ease-in-out;
    }
    
    .contens1 .contens_img_opa{
        position: relative;
    }
    
    .contens1 .contens_img_opa:hover:before{
        width: 5%;
    }
    
    .contens1 .contens_img_opa::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 100%;
        transition: all 0.5s ease-in-out;
    }
    
    .contens1_box p{
        display: flex;
        flex-direction: column;
        margin: 20px 5px 0 5px;
        text-shadow: 0 0 1px white;
    }
    
    .contens1_box span{
        margin: 2px 0;
    }
    
    .contens1_box .contens1_t1{
        font-size: 0.4rem;
    }
    .contens1_box .contens1_t2{
        font-size: 0.9rem;
        font-weight: bold;
    }
    .contens1_box .contens1_t3{
        font-size: 0.5rem;
        font-weight: 400;
    }





    
    .contens2 .inner{
        width: 95%;
        margin: 0 auto;
    }
    .contens2 .contens2_box{
        flex-direction: column;
        justify-content: space-between;
    }
    
    .contens2 .contens2_box li{
        width: 100%;
        margin-bottom: 10px;
        overflow: hidden;
        position: relative;
        box-shadow: 5px 0 20px black;
        border-radius: 15px 5px 10px 5px;
        
    }
    .contens2_box img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s ease-in-out;
    }
    
    
    
    .contens2 .contens2_box img:hover{
        filter: grayscale(0);
        transform: scale(1.1);
    }

    .contens2_box p{
        position: absolute;
        left: 10px;
        bottom: 10px;
        font-size: 0.6rem;
        text-shadow: 0 0 10px black;
        color: white;
    }
    
    
    .contens2_box span{
        font-size: 1rem;
        font-weight: bold;
    }
    
    .contens2 .contens2_2{
        width: 100%;

        background-color: black;
        margin: 100px auto 0 auto;
        position: relative;
    }
    
    .contens2_2 video{
        width: 100%;
        filter: grayscale(0.7);
    }




    .contens3{
        width: 100%;
        background-color: var(--bg-color);
        color: var(--font-color);
        padding: 20px 0;
    }
    
    .contens3 .inner{
        width: 95%;
        margin: 0 auto;
    }
    
    .contens3 .contens3_box li{
        width: 100%;
        height: 200px;
        margin: 20px 0;
        overflow: hidden;
        position: relative;
    }
    
    
    .contens3 .contens3_box img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.5s ease-in-out;
        border-radius: 15px 5px 10px 5px;
    }
    
    .contens3 .contens3_box img:hover{
        filter: grayscale(0);
        transform: scale(1.3);
    }
    
    .contens3_box span{
        font-size: 1.5rem;
        font-weight: bold;
    }
    .contens3_box p{
        position: absolute;
        left: 0;
        bottom: 0;
        font-size: 1rem;
        text-shadow: 0 0 10px black;
        line-height: 25px;
        color: rgb(231, 231, 231);
    }
    

    #footer {
        width: 100%;
        background-color: var(--bg-color);
        color: var(--font-color);
    }
    
    #footer .inner{
        width: 95%;
        margin: 0 auto;
    }
    #footer .footer_top{
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
    }

    #footer .footer_top>li{
        width: 25%;
        margin: 0 3px;
    }
    
    #footer .footer_top ul li:nth-child(1){
        font-weight: bold;
    }
    #footer .footer_top ul li{
        padding: 3px 0;
        font-size: 10px;
    }
    
    #footer .footer_bottom {
        color: rgb(146, 146, 146);
        font-size: 12px;
        padding: 30px 0;
        margin: 0 auto;
        text-align: center;
    }
    #footer .sns{
        flex-wrap: wrap;
        align-items: center;
    }
    #footer .sns li{
        margin: 0 5px;
    }
    


}

